<%= render partial: "shared/nav" %>

<body>
   <div class="row">
      <p class='col-12'>Bulk Discount #<%= @bulk_discount.id %></p>
   </div>

   <p>Min. Quantity: <%= @bulk_discount.quantity %></p>
   <p>Percentage: <%= number_to_percentage(@bulk_discount.percentage, precision: 0) %></p>
   <%= link_to "Edit Bulk Discount ##{@bulk_discount.id}", edit_merchant_bulk_discount_path(@merchant, @bulk_discount) %>
</body>